<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>

        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="page-heading">
                            <h1>About</h1>
                            <hr class="small">
                            <span class="subheading">Jo Seoung Hee</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <img class="img-responsive" src="img/card.jpg" width="300" height="200">
            </div>

        </div>
        <div class="container">
            <div class="row">
                <p>Jo Seoung Hee</p>
                <p>Born in 04.03.1990</p>
                <p>Studied Computer Engineering at Busan ​Univ.</p>
                <p>Enjoy Cardistry with a hobby</p>

                <p>jo9043@gmail.com</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <% include partials/link %>
        </footer>

        <!-- jQuery -->
        <script src="vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="js/clean-blog.min.js"></script>

</body>

</html>
