<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('con02'));return false;">
                        Graduate Project
                    </a>
                </h2>
            </div>
            <div id ="con02" style ="display:none">
                <p> 악성코드 분석 및 시각화 시작
            </div>
                <p class="post-meta">June 2 2017</p>
        </div>
    </div>
</div>