<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('con03'));return false;">
                        Welcome
                    </a>
                </h2>
            </div>
            <div id ="con03" style ="display:none">
                <p>Created!!</p>
            </div>
                <p class="post-meta">June 02 2017</p>
        </div>
    </div>
</div>