<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('con05'));return false;">
                        Job Seeking
                    </a>
                </h2>
            </div>
            <div id ="con05" style ="display:none">
                <p> 서류: NHN, LG, 효성, 하나금융, SK hynix
                <p> LG랑 효성 제발...
            </div>
                <p class="post-meta">October 1 2017</p>
        </div>
    </div>
</div>