<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('<!--아이디 설정 -->'));return false;">
                        <!-- 타이틀 입력 -->
                    </a>
                </h2>
            </div>
            <div id ="<!-- 아이디 설정 -->" style ="display:none">
                <p> <!-- 내용 입력 -->
                <p> <!-- 내용 입력 -->
            </div>
                <p class="post-meta">June 26 2017</p>
        </div>
    </div>
</div>