<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('con04'));return false;">
                        OPIC
                    </a>
                </h2>
            </div>
            <div id ="con04" style ="display:none">
                <p> 8월 23일에 첫 OPIC. 결과는 IL 등급...
                <p> 처음이라 떨려서 뭐라고 대답했는지 기억도 안남.. 결과 역시 망해서 다시 쳐야 된다 ㅠ..
                <p> 취직 활동 시작해야 되는데 이 점수로 되려나...
            </div>
                <p class="post-meta">September 13 2017</p>
        </div>
    </div>
</div>