<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('con01'));return false;">
                        Start Studying OPIC
                    </a>
                </h2>
            </div>
            <div id ="con01" style ="display:none">
                <p><img class="img-responsive" src="img/schedule.jpg" width="700" height="500"></p>
                <p>Studying schedule</p>
            </div>
                <p class="post-meta">June 26 2017</p>
        </div>
    </div>
</div>