<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('con02'));return false;">
                        FileDown
                    </a>
                </h2>
            </div>
            <div id ="con02" style ="display:none">
                <p>Because of insufficient DataBase capacity, uploads files in git repository</p>
                <p>Please go to the below link</p>
                <p>Link: <a href="https://github.com/jo9043">Git Repository</a></p>
            </div>
                <p class="post-meta">June 12 2017</p>
        </div>
    </div>
</div>