<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon05'));return false;">
                        라데온 이벤트
                    </a>
                </h2>
            </div>
            <div id ="scon05" style ="display:none">
                <p> 내가 평소 즐겨하는 게임인 라데온 카페에 다음과 같은 이벤트가 열림
                <p><img class="img-responsive" src="img/event.jpg" width="400" height="300"></p>
                <p> 결과는...
                <br>
                <br>
                <p><img class="img-responsive" src="img/chicken.jpg" width="400" height="300"></p>
                <p> 완벽한 정답은 아니였지만 성공한 사람이 나를 제외하고는 없어서 치킨 기프티콘을 받았다 ^오^
                <br>
                <p><img class="img-responsive" src="img/gift.jpg" width="400" height="300"></p>
                <p> Spalsh 화면이 끝나면 원 이미지로 돌아와 버린다.. 원 이미지는 asset에 바이너리 코드로 되있는거 같은데 바알못이라 더 이상 진행을 못했다... (그래픽스 공부좀 할걸) 시간이 남으면 바이너리에 대한 공부도 좀 해야되겠다 ㅠ
                <p> 자세한 내용은 아래의 링크를!!
                <p> <a href="http://cafe.naver.com/ldoekr/30796">원펀맨님의 퀘스트를 수행해보자</a>


            </div>
                <p class="post-meta">October 12 2017</p>
        </div>
    </div>
</div>