<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon04'));return false;">
                        Last Class
                    </a>
                </h2>
            </div>
            <div id ="scon04" style ="display:none">
                <p><img class="img-responsive" src="img/lastclass.jpeg" width="600" height="400"></p>
                <p> 드디어 마지막 학기, 마지막 시간표다
                <p> 평소 관심을 가졌던 분산시스템과 멀티미디어처리를 마지막 전공수업으로 선택함.
                <p> 네트워크 보안도 듣고 싶었지만 취직활동을 하게 되면 힘들 것 같아 어쩔 수 없이 포기...
                <p> 혼자 모의해킹하면서 공부해야지...

            </div>
                <p class="post-meta">September 1 2017</p>
        </div>
    </div>
</div>