<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon04'));return false;">
                        Assignment #1
                    </a>
                </h2>
            </div>
            <div id ="scon04" style ="display:none">
                <p><h4>What Is Malware?</h4></p> 
                <p> Explain briefly, Malware is a computer program or software developed for malicious activities. In fact, malware is a compound word of malicious and software. The ultimate goal of most cybercriminals is to install malware on a computer or a mobile device. Once installed, attackers can take complete control of victims’ computers and mobile devices. Many people misunderstand that malware is only available on Windows computers. Of course, Windows is the most popular target, but malware can infect any computing devices, such as smartphones and tablets. Recently, more malware is infecting mobile devices. It should be remembered that everyone is being attacked. The criminals aren’t interested in who is infected, but how many devices are infected.</p>
            </div>
                <p class="post-meta">June 28 2017</p>
        </div>
    </div>
</div>