<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon03'));return false;">
                        졸업과제 중간결과
                    </a>
                </h2>
            </div>
            <div id ="scon03" style ="display:none">
                <p> 현재 진행된 상태가 많지는 않음..
                <p> 시그니처 분석기법의 단점인 시간이 오래 걸린다는 점을 보완하기 위해 우선 메니페스트에 선언된 권한을 판단하여 1차적인 검사(간단검사)를 시행하고 일정 점수 이상(잠재적 위험이 있다고 판단 되는 경우) 2차 분석(정밀검사)를 수행하는 악성코드 감지 프로그램을 목표로 수행.
                <br>
                <p><img class="img-responsive" src="img/danger_permission.jpg" width="500" height="300"></p>
                <p> 위 사진과 같이 위험한 퍼미션(악성코드가 활동할 수 있는)을 범주화 하고
                <br>
                <p><img class="img-responsive" src="img/score.jpg" width="400" height="300"></p>
                <p> 각 범주에 대해 점수를 매겨줌.
                <br>
                <p><img class="img-responsive" src="img/score_result.jpg" width="700" height="500"></p>
                <p> 그리고 위와 같이 앱의 퍼미션을 확인하여 점수를 책정.
                <p> 앱이 커질수록 퍼미션 개수도 늘어나 정확도가 떨어질 것 같다.
                <p>이 부분에 대해서는 카테고리 정보를 추가하여 정밀도를 높일 계획. 그리고 인터페이스 역시 수정이 필요할 것 같다.
            </div>
                <p class="post-meta">July 20 2017</p>
        </div>
    </div>
</div>