<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon05'));return false;">
                        2020년 학부제 시행
                    </a>
                </h2>
            </div>
            <div id ="scon05" style ="display:none">
                <p><h4>1. 전공분야에 대한 성취도</h4></p>
                <p>질 낮은 전공인 배출
                <p>- 상대적으로 전공교육을 늦게 시작
                <p>- 삼성 채용개편: 토익, 자격증보다 대학전공 충실히
                <br>
                <p>신입사원의 문제 - 낮은 전공 이해도
                <p><img class="img-responsive" src="img/edu.jpg" width="700" height="500"></p>
                <p>학부제: 2009년부터 의무화 (9조2항은 ‘대학에 학과 또는 학부를 두는 것을 원칙으로 하되 필요한 경우에는 학칙으로 달리 정할 수 있다.)
                <p>- 학부제 의무화 폐기
                <p>- 수 많은 대학 학부제 포기, 학과제로 다시 전환
                <p>- 학부제는 맞춤형 인재양성에 도움을 주지 못한다
                <p>- 대학원 교육과의 괴리
                <p>- 학부에서 전공에 대한 어느 정도의 기초지식과 관심을 가르쳐주고 대학원에서 그것을 발전시켜야 하는데 학부에서는 전공에 대한 산발적인 지식밖에 배운 게 없으니 대학원에서의 강의가 자연히 하향 평준화
                <p>- 학문 발전이 늦어지는 결과를 초래
                <p>학생들은 '소비자'이며 '고객'이다. 그렇다면 아마도 교수는 각 코너의 판매원이다. 인기과에 집중하는 것은 인기상품에 집중하는 것이고 만일 어떤 과가 폐지된다면 그것은 안팔리는 상품을 파는 코너를 전리하는 것과 같다. '전공이라는 울타리' 운운은 백화점에서 손님이 이 코너 저 코너를 돌아다니면서 상품을 구매할 수 있는 자유를 주장하는 것이다. "더 많은 고객 유치"를 한다는 것은 교수들에게 강도 높은 노동을 시켜 결국 교육의 질을 떨어뜨리며 또한 고객에게 저질의 상품을 제공하게 만드는 것</p>
                <p>학생들은 대학 3학년까지도 기초교육을 받게 될 가능성이 높고, 전공 과목의 교과목보다도 기초과목 강좌수가 증가됨으로 전공교육이 위축될 우려가 있다. 학부제를 통해 학생들에게 폭넓은 시야와 풍부한 선택의 기회를 주는 것은 좋으나 전공교육이 부실하여 자칫 학문적 깊이가 없는 얕은 수준의 교양인을 양산하는 결과를 초래. 대학이 사회가 요구하는 인적자원을 공급하기 위해서는 해당분야에 상당한 시간을 집중적으로 투입하지 않으면 안 되는데, 학부제에서와 같이 제한된 시간에 여러가지 분야를 선택할 수 있게 한다면 필요한 분야에서 제대로의 역할을 수행할 수 있는 인재를 양성하기 어렵게 될 것이다.</p>
                <br><br><br>
                <p><h4>2. 대학의 본질적인 의미가 붕괴</h4></p>
                <p>대학은 인격을 도야(陶冶)하고, 국가와 인류사회의 발전에 필요한 심오한 학술이론과 그 응용방법을 가르치고 연구하며, 국가와 인류사회에 이바지함을 목적으로 한다
                <p>취업이 잘 되는 특정과에만 학생들이 몰린다
                <p>- 대부분의 학생들이 전공을 선택하는 기준은 취업 등 졸업 이후의 장래성이다.
                <p><img class="img-responsive" src="img/major.jpg" width="700" height="500"></p>
                <p>전공선택을 학생들의 자유선택에만 맡기는 한 인기학과에는 학생들이 집중되고, 비인기학과는 학생들이 기피하게 되어 학과존폐의 문제가 제기되지 않을 수 없다. 특히 학문의 조화로운 발전이나 사회의 발전에 꼭 필요한 전공임에도 불구하고 상대적으로 공부하기가 어렵다고 생각되는 전공은 학생들이 기피하는 경향이 나타나고 있으며 교과과목의 선택에서도 이와 같은 현상은 두드러져 폐강되는 과목이 속출하여 교수들의 책임시수 확보가 곤란한 상황이다. 인기전공에서는 갑자기 학생수가 증가됨으로써 분반의 확대가 불가피하나 충분한 교수확보와 시설, 설비의 확보가 곤란하며 이로 인해 교수 1인당 학생수가 극히 많아지고 교육시설이 부족하게 되는 등 교육여건의 악화를 초래하게 된다</p>
                <br><br><br>
                <p><h4>3. 교수와 학생간의 교류 저하</h4></p>
                <p>1학년때 자신의 전공이 정해지지 않아 교수와 교류를 가질 시간이 부족하다
                <p>자신의 전공에 대한 소속감 상실 초래
                <p>같은 전공 학생들 사이의 소원한 관계 초래
                <p>학부인원이 과다하고 학생지도 단위가 지나치게 커지게 되어 효율적인 학생지도가 어려워진다. 학부제는 학과중심제 때 보다 학생들의 소속감이 결여되고, 교수들 또한 학과 소속감이 없어지게 되어 학생들과의 인간적인 접촉이 소원해지기 쉬우며 이것은 학생지도를 더욱 곤란하게 하는 원인. 교수와 동문, 재학생들간의 연대의식이 부족해져 선후배간의 연계가 약화되고 이로 인해 학생지도에 어려움을 초래</p>
                <br><br><br>
                <p><h4>4. 교수간의 전공이기주의 심화</h4></p>
                <p>교육과정에서 선택과목의 수가 확대될 수 밖에 없고, 따라서 교과목에 대한 교수간의 경쟁은 불가피한데, 교수들은 강의 책임시수 확보를 위해 서로 전공 필수과목을 담당하려고 경쟁함으로써 상호견제와 갈등이 심화. 특히 비인기 전공의 교수들은 강의 책임시수 확보가 곤란해짐으로서 신분상의 불이익조치가 뒤따르지 않을까 불안해하고 있으며 일부 교수들은 수강학생의 확보를 위해 인기유지 위주의 강의와 학점관리를 하는 등 파행적으로 강의를 관리하는 문제 발생</p>
                <p> -> 교수들의 책임시수 확보하려는 노력
                <p> -> 교육의 질을 떨어뜨린다
                <br><br><br>
                <p><h4>반격용</h4></p>
                <p>찬성측에서 전공 선택 기회에 관해 얘기하면</p>
                <p>전과, 부전공 등 자신의 자신이 선택한 전공이 자신과 맞지 않은 경우 필요한 시간이 적다.
                <p>- 많은 학생들이 본인의 적성/흥미와 맞지 않기 때문에 전공을 바꾼다.
                <p>학부제는 적성에 맞는 전공 선택에 학생들이 기대하는 만큼의 도움을 주지 못한다
                <p>학부생들에게 1년 동안 여러가지 과목을 듣게 해 전공 선택의 기회를 줬지만 자기 적성이해에 도움이 되는 것은 아니였다
                <p>실제로 UCLA에서 자체적으로 낸 통계에 따르면 학생 당 평균 4년 동안 2.1번 바꾼다고 한다
                <p>-> 1학년부터 전공을 선택해 배우는 것이 효율적이며 적성을 고민하는 학생들은 학부제보다 복수전공이나 부전공이 도움이 될 것
                <br>
                <p>폭 넓은 전공교육 기획 확대(전공 선택과목의 확대)
                <p>->인기학과와 비인기 학과 간의 부익부 빈익빈 현상을 초래
                <p>-> 교수의 강의 담당시간 배정과 전공과목 강의 배정시 교수간의 전공이기주의가 심화될 우려
                <p>-> 기초교육이 강화됨으로서 대학 3학년까지 기초교육을 시행하게 될 가능성이 높고 전공분야의 교과목 감소에 따른 기초과목 강좌수가 증가하게 됨으로서 전공분야가 위축될 우려가 있다

            </div>
                <p class="post-meta">July 04 2017</p>
        </div>
    </div>
</div>