<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon03'));return false;">
                        Presentation
                    </a>
                </h2>
            </div>
            <div id ="scon03" style ="display:none">
                <p><h3>Brain Storming</h3></p>
                <p><h4>3년(휴학기간) 동안 내가 겪은 경험</h4></p>
                <p>전역 후 집안 사정으로 인해 일을 하게 됨</p>
                <p>연줄을 통해 우리가 소위 말하는 대기업이란 곳에 취직</p>
                <p>약 1년 반 근무, 근무기간 동안 이게 나의 길인가? 계속 고민</p>
                <p>결국 일을 그만 두고 내가 좋아하는 일을 하기로 마음 먹고 Magic Bar에 취직</p>
                <p>하지만 또 다른 문제에 부딪혀 일을 그만 두게 됨</p>
                <br>
                <p><h4>평범한 직장 & 내가 좋아하는 일</h4></p>
                <p><h4>대기업</h4></p>
                <p>서버/플랫폼 개발, 약 1년 반 근무</p>
                <p>연봉 3~4천, 인센티브 1000~1500</p>
                <p>좋지 않던 집안 사정도 어느정도 해결</p>
                <p><h4>Magic Bar</h4></p>
                <p>마술을 배우고, Bar에 온 손님들에게 직접 마술을 보여줌, 약 10개월 근무</p>
                <p>즐기면서 일을 할 수 있는 환경</p>
                <br>
                <br>
                <p><h3>주제문 선정</h3></p>
                <p><h4>주제</h4></p>
                <p>열정과 현실 사이</p>
                <p><h4>세부목적</h4></p>
                <p>자신이 좋아하는 일을 직업으로 하기 위한 청중들에게 정보 전달.</p>
                <p><h4>개괄목적</h4></p>
                <p>동료학생들에게 자신이 좋아하는 일을 직업으로 선택하는 데 있어 열정만으로는 해결되지 않는다. 그것을 위한 준비가 되어 있어야 한다. (를 나의 3년간의 경험담을 통해 정보전달)</p>
                <br>
                <br>
                <p><h3>Topoi</h3></p>
                <p><h4>환경</h4>
                <p>그 일을 배울수 있는 환경 & 그 일을 접할 수 있는 환경</p>
                <p>- 직업으로 하기 위해서는 당연한 얘기지만 실력이 필요.</p>
                <p>- 실력을 쌓을 수 있고 자주 접할 수 있는 환경이 준비 되어야 한다.</p>
                <p>(연사 같은 경우 그 환경은 준비 되어 있었다)</p>
                <br>
                <p><h4>현실적인 문제(생계)</h4>
                <p>그 일을 하면서 안정적인 생활이 가능한가?</p>
                <p>- 한국이란 나라는 마술로 먹고 살기 힘든 나라</p>
                <p>- 한국 마술사들은 여러 국제 대회에서 우승, 하지만 정작 티케팅 파워가 있는 마술사는 몇명이나 되는가?</p>
                <p>해당 Part는 이미지 등을 이용한 근거 제시</p>
                <p><h4></h4></p>
                <br>
                <p><h4>철저한 검증과정</h4></p>
                <p>내가 좋아하는 일이지만 힘든 생활, 결과(대회 입상)가 나오지 않아 그만두고 싶은 마음을 수백번 먹었다.</p>
                <p>(인용) 김미경: 자신이 꿈이라고 믿고 있는 것이 과연 정말 자기 꿈인지 다시 한 번 생각해보자.</p>
                <p>- 내가 그 일을 정말 좋아하는지, 그 일을 직업으로 삼는 것이 정말 나의 꿈인지</p>
                <br>
                <br>
                <p><h3>Format</h3></p>
                <p><h4>서론</h4></p>
                <p>간단한 자기 소개</p>
                <p>대기업에서 일했던 것에 대한 설명</p>
                <p>하고 싶은 일을 하기 위해 그만둠</p>
                <p>(청중들에게 직업 선택에 있어 자신이 좋아하는 일을 하고 싶은 것에 대한 열망을 공감 받음)</p>
                <p>연사에게 있어 그것은 마술이였다</p>
                <p>"최고의 경쟁력은 열정이다" - 잭 웰치</p>
                <p>연사 역시 열정만 있으면 다 될 줄 알았다.</p>
                <p>하지만 현실은 열정만으로 해결 되지 않는다</p>
                <p>열정도 중요하지만 자신이 좋아하는 일을 하기 위한 준비가 필요하다</p>
                <br>
                <p><h4>본론</h4></p>
                <p>주요 아이디어 제시 내용</p>
                <br>
                <p><h4>결론</h4></p>
                <p>우리 모두가 자신이 좋아하는 일을 하고 있는 미래를 상상하지만 때로는 냉정하게 현실적인 접근도 필요하다</p>

            </div>
                <p class="post-meta">June 28 2017</p>
        </div>
    </div>
</div>