<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon04'));return false;">
                        Assignment #1
                    </a>
                </h2>
            </div>
            <div id ="scon04" style ="display:none">
                <p><h4>Why should we discuss about the ethics of A.I</h4></p> 
                <p> A long history dating back to a maximum of 440,000 years, a wide area spanning Europe, West Asia, North Africa, they achieved the most advanced cultures of the time, but they no longer exist on earth. Broken bone fragments and stones are just demonstrating their trace. It’s a story about the Neanderthals (H.neanderthalensis) who once coexisted with modern humans on Earth. They first discovered in the Neanderthand valley in Germany and named Neanderthals. Their ablities were excellent. According to research, they were able to hunt mammoths with sliced stones, make clothes from animal skins, cook meat, vegetables and grain using fire and even use language. However, About 60.000 years ago, they first encountered a new species. It is a new human species, Homo sapiens, which is a little more delicate and has a smaller brain than Neanderthals. Homo sapiens, a frail body, was very clever, but it was not exceptional. In fact, most of Homo sapiens’s work could be done by Neanderthal at that time. However, the Neanderthals gradually disappeared. In just 30.000 years, the Neanderthals have completely disappeared from the planet earth. The last remnants of the Neanderthals found on a Spanish coast show that they have been hungry for quite some time.</p>
            </div>
                <p class="post-meta">June 28 2017</p>
        </div>
    </div>
</div>