<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon06'));return false;">
                        <졸업과제> 안드로이드 악성코드 분석 및 시각화
                    </a>
                </h2>
            </div>
            <div id ="scon06" style ="display:none">
                <p><img class="img-responsive" src="img/I_AV.jpg" width="400" height="300"></p>
                <p> 간단분석에서 Scoring 후 70점 이상인 경우 정밀분석을 자동으로 수행
                <p> 간단분석을 거치지 않고 바로 정밀검사를 수행할수도 있게 기능 분화
                <br>
                <p><img class="img-responsive" src="img/result.jpg" width="400" height="300"></p>
                <p> 검출된 악성코드를 사용자가 보기 쉽게 시각화
            </div>
                <p class="post-meta">October 2 2017</p>
        </div>
    </div>
</div>