<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon05'));return false;">
                        2020년 학부제 시행
                    </a>
                </h2>
            </div>
            <div id ="scon05" style ="display:none">
                <p><h4>1. 전공분야에 대한 성취도</h4></p>
                <p>질 낮은 전공인 배출
                <p>- 상대적으로 전공교육을 늦게 시작
                <p>(표, 사진, 기업에서 요구하는 전공 성취도)
                <p>- 삼성 채용개편: 토익, 자격증보다 대학전공 충실히
                <p>학부제: 2009년부터 의무화 (9조2항은 ‘대학에 학과 또는 학부를 두는 것을 원칙으로 하되 필요한 경우에는 학칙으로 달리 정할 수 있다.)
                <p>- 학부제 의무화 폐기
                <p>- 수 많은 대학 학부제 포기, 학과제로 다시 전환
                <p>- 학부제는 맞춤형 인재양성에 도움을 주지 못한다
                <p>- 대학원 교육과의 괴리
                <p>- 학부에서 전공에 대한 어느 정도의 기초지식과 관심을 가르쳐주고 대학원에서 그것을 발전시켜야 하는데 학부에서는 전공에 대한 산발적인 지식밖에 배운 게 없으니 대학원에서의 강의가 자연히 하향 평준화
                <p>- 학문 발전이 늦어지는 결과를 초래
                <br><br>
                <p><h4>2. 대학의 본질적인 의미가 붕괴</h4></p>
                <p>대학은 인격을 도야(陶冶)하고, 국가와 인류사회의 발전에 필요한 심오한 학술이론과 그 응용방법을 가르치고 연구하며, 국가와 인류사회에 이바지함을 목적으로 한다
                <p>취업이 잘 되는 특정과에만 학생들이 몰린다 (통계자료 이용)
                <p>- 대부분의 학생들이 전공을 선택하는 기준은 취업 등 졸업 이후의 장래성이다.
                <p><img class="img-responsive" src="img/major.jpg" width="700" height="500"></p>
                <br><br>
                <p><h4>3. 교수와 학생간의 교류 저하</h4></p>
                <p>1학년때 자신의 전공이 정해지지 않아 교수와 교류를 가질 시간이 부족하다
                <p>자신의 전공에 대한 소속감 상실 초래
                <p>같은 전공 학생들 사이의 소원한 관계 초래
                <br><br>
                <p><h4>반격용 <- 찬성 의견에서 적성을 판단 어쩌고 하면</h4></p>
                <p>전과, 부전공 등 자신의 자신이 선택한 전공이 자신과 맞지 않은 경우 필요한 시간이 적다.
                <p>- 많은 학생들이 본인의 적성/흥미와 맞지 않기 때문에 전공을 바꾼다.
                <p>학과제는 적성에 맞는 전공 선택에 학생들이 기대하는 만큼의 도움을 주지 못한다
                <p>학부생들에게 1년 동안 여러가지 과목을 듣게 해 전공 선택의 기회를 줬지만 자기 적성이해에 도움이 되는 것이아니다
                <p>-> UCLA에서 자체적으로 낸 통계에 따르면 학생 당 평균 4년 동안 2.1번 바꾼다고 한다
                <p>-> 1학년부터 전공을 선택해 배우는 것이 효율적이며 적성을 고민하는 학생들은 학부제보다 복수전공이나 부전공이 도움이 될 것

            </div>
                <p class="post-meta">June 26 2017</p>
        </div>
    </div>
</div>