<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    <a href=# onclick = "doDisplay(document.getElementById('scon01'));return false;">
                        Summer Class
                    </a>
                </h2>
            </div>
            <div id ="scon01" style ="display:none">
                <p><img class="img-responsive" src="img/classschedule.jpg" width="600" height="400"></p>
                <p> Summer Class Schedule
            </div>
                <p class="post-meta">June 23 2017</p>
        </div>
    </div>
</div>
